<p id="notice"><%= notice %></p>

<h1>Squares</h1>

<table>
  <thead>
    <tr>
      <th>Full name</th>
      <th>Screen name</th>
      <th>Color</th>
      <th>Type</th>
      <th>Description</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @squares.each do |square| %>
      <tr>
        <td><%= square.full_name %></td>
        <td><%= square.screen_name %></td>
        <td><%= square.color %></td>
        <td><%= square.type %></td>
        <td><%= square.description %></td>
        <td><%= square.school_id %></td>
        <td><%= link_to 'Show', square %></td>
        <td><%= link_to 'Edit', edit_square_path(square) %></td>
        <td><%= link_to 'Destroy', square, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Square', new_square_path %>
