<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
          Test is a test page make sure to change the name of qshow. back to show
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @session.session_notes.any? %>
      <h3>Notes (<%= @session.session_notes.count %>)</h3>
      <ol class="notes">
        <%= render @session_notes %>
      </ol>
      <%= will_paginate @session_notes %>
    <% end %>
  </div>
</div>

<div class="row">
    <aside class="col-md-4">
      <section class="note">
        <%= form_for(@session_note) do |f| %>
          <div class="field">
            <%= f.text_area :note, placeholder: "Compose new note..." %>
          </div>
          <%= f.submit "Create", class: "btn btn-primary" %>
        <% end %>
      </section>
    </aside>
</div>
