<!-- Robert Herrera -->
<p id="notice"><%= notice %></p>

<!-- page header -->
	<div class="page-header vertical-align">
			<div class="col-xs-11">
				<h2>Super Dashboard<small> - manage schools at TPTE</small></h2><!-- Dynamically fills in with school id -->
			</div>
			<div class="col-xs-1 center-block">
				<div class="header-sq i-plum" title="Bianca17">
					<span class="fa fa-apple fa-3x teacher-icon"></span>
				</div>
			</div>
		</div>
<!--End page header-->
<tbody>
	<!-- submits HTTP Post request to the super_controller. The super_controller determines which action to use. -->
	 <form action="/super" method="post">
	 
			<select required>
				<% @schools.each do |school| %>
					<option name ="<%= school.full_name %>" value="<%= school.full_name %>"><%= school.full_name %></option>
		   		<% end %>
			</select> 
	   <input type="submit" value="Change Focus School">
	</form>
</tbody>

<br>

	<div class="table-sq " >
		<span class="fa fa-home fa-3x"></span>  <!--Always the Bootstrap glyph school Icon-->
	</div>
	
<%= link_to 'All Schools', schools_path, class: "btn btn-success" %>

	<div class="table-sq " >
		<span class="fa fa-home fa-3x"></span>  <!--Always the Bootstrap glyph school Icon-->
	</div>
	
<%= link_to 'Super Report', super_report_path, class: "btn btn-success" %>
