<script>
$(function() {
  
  // contact form animations
  $('#newNote').click(function() {
    $('#newNoteForm').fadeToggle();
  })
  $(document).mouseup(function (e) {
    var container = $("#newNoteForm");

    if (!container.is(e.target) // if the target of the click isn't the container...
        && container.has(e.target).length === 0) // ... nor a descendant of the container
    {
        container.fadeOut();
    }
  });
  
});
</script>

<!-- page header -->
<div class="page-header vertical-align">
	<div class="col-xs-11">
		<h2>Notes<small> - view all notes</small></h2>
	</div>
	<div class="col-xs-1 center-block">
		<div class="header-sq i-plum" title="Bianca17">
			<span class="fa fa-apple fa-3x teacher-icon"></span>
		</div>
	</div>
</div><!--End page header-->

<div id="newNote">New Note</div>

<div id="newNoteForm">

  <h1>Add a new Note</h1>  
  <form action="session_notes" method: "POST">
    <textarea placeholder="add notes" value="notes"></textarea>
    <input class="formBtn" type="submit" />
    <input class="formBtn" type="reset" />
  </form>
</div>

<table class="table table-striped table-hover session_note-responsive session_note-table">
	<thead>
		<tr>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
	  <%= will_paginate%>
			<% @session_notes.each do |session_note| %>
				<tr data-link=<%= edit_session_note_path(session_note.note) %>>
					<td>
						<div class="table-sq i-plum" title="<%= session_note.id %>">
						</div>
					</td>
					<td><p class="listText"><%= session_note.note %></p></td>
					<td><p class="listText"><span></span></p>
					</td>
				</tr>
			<% end %>
		<%= will_paginate %>
	</tbody>
</table>