<!-- page header -->
<div class="page-header vertical-align">
	<div class="col-xs-11">
		<h2>Notes<small> - view all notes</small></h2>
	</div>
	<div class="col-xs-1 center-block">
		<div class="header-sq i-plum" title="Bianca17">
			<span class="fa fa-apple fa-3x teacher-icon"></span>
		</div>
	</div>
</div><!--End page header-->

	<!--New Teacher Button-->
<div class="row first-content-row">
	<div class="col-xs-3">
		<p><%= notice %></p>
		<%= button_to "New Note", new_session_note_path,
    :class => "col-sm-offset-1 btn btn-lg btn-success", :method => :get %>
	</div><!--End col-->
</div><!--End row -->

 <!--Teacher display area -->
<table class="table table-striped table-hover session_note-responsive session_note-table">
	<thead>
		<tr>
			<th>Note</th>
		</tr>
	</thead>
	<tbody>
	  <%= will_paginate%>
			<% @session_notes.each do |session_note| %>
				<tr data-link=<%= edit_session_note_path(session_note.note) %>>
					<td>
						<div class="table-sq i-plum" title="<%= session_note.id %>">
						</div>
					</td>
					<td><p class="listText"><%= session_note.note %></p></td>
					<td><p class="listText"><span></span></p>
					</td>
				</tr>
			<% end %>
		<%= will_paginate %>
	</tbody>
</table>