<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>
<body>
<nav class="navbar navbar-static-top">
	<div class="container">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<!--<a class="navbar-brand" href="">Dinner Out</a>-->
		<%= link_to "Dinner Out", about1_path, class: "navbar-brand" %>
	</div>
	<div id="navbar" class="collapse navbar-right navbar-collapse">
		
		<ul class="nav navbar-nav ">
			<li><a href="about1.html">About</a></li>
			<% if logged_in? %>
				<li><%= link_to 'Admin', admin_path %></li>
				<li><%= link_to 'Profile', teachers_path %></li>
				<li><%= link_to "Logout", logout_path %></li>
			<% end %>
		</ul>
	</div>		<!-- end nav-collapse -->
</div>		<!-- end navbar -->
</nav>

<div class="container">
	<% if logged_in? %>
	<div class="col-xs-10 col-xs-offset-1 col-sm-12 col-sm-offset-0 content-col">
		<%= yield %>
  	</div>
	<% end %>
	<!--if not logged in -->
	<%= yield %>
</div>
<%= debug(params) if Rails.env.development? %>
	
	

</body>
</html>